#barra-navegacion ul{
    display: flex;
    justify-content: space-between;
  }
  
  #barra-navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #barra-navegacion li {
    margin-right: 10px; /* Espacio entre elementos de la lista */
  }
  
  .barra-navegacion li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento de la lista */
  }
  
  .barra-navegacion a {
    text-decoration: none;
    font-size: 22px;
  }
  
  .barra-navegacion ul li:nth-child(1) a {
    color: #000000;
  }
  
  .barra-navegacion ul li:nth-child(2) a {
    color: #000000;
  }
  
  .barra-navegacion ul li:nth-child(3) a {
    color: #000000;
  }
  
  .barra-navegacion li {
    display: inline-block; /* Colocar los elementos en línea horizontalmente */
  }